section
  section
    h4 Tradicionais
    p(style="color: #f1dfa6")
      | Cascata
    p(style="color: #f1dfa6")
      | Incremental
    p(style="color: #f1dfa6")
      | Prototipação
  section
    h4 Ágeis
    p(style="color: #f1dfa6")
      | Scrum
    p(style="color: #f1dfa6")
      | XP
    p(style="color: #f1dfa6")
      | Kanban
