section
  section
    h3 Então o que é o tal do TDD?
  section(data-background-image="img/tdd.jpg" data-background-size="80%")
  section(data-background-image="img/ambiente-de-trabalho.gif" data-background-size="90%")
  section(data-background-image="img/tdd-vs-ftt.png" data-background-size="18%")
