- var notes = 'section(data-background="img/mgc.gif")'

section(data-notes=notes)
  section.text-left
    h3 Lucas Souto
    p
      a(href="https://github.com/lucassouto") Seu palestrante de hoje

  section.text-left
    ul(style= "font-size: 30px")
      li(style="margin-bottom: 20px").fragment.grow.highlight-green
        | Desenvolvedor com influências Pythonicas
      li(style="margin-bottom: 20px").fragment.grow.highlight-green
        | Bacharel em Ciência da Computação
      li(style="margin-bottom: 20px").fragment.grow.highlight-green
        | Organizador do PUG-MA (Python User Group Maranhão)
      li(style="margin-bottom: 20px").fragment.grow.highlight-green
        | Fascinado com coisas novas
        span.fragment.fade-up.blue  e por isso estou aqui falando de TDD
