section
  p Testando o código!
  pre
    code.shell.
      $ python manage.py test
      Creating test database for alias 'default'...
      System check identified no issues (0 silenced).

      ---------------------------------------------------------------
      Ran 1 tests in 0.017s

      OK
      Destroying test database for alias 'default'...
