doctype html
html
  include inc/head
  body
    .reveal
      .slides
        include ../slides/slide-1.pug
        include ../slides/slide-2.pug
        include ../slides/slide-3.pug
        include ../slides/slide-4.pug
        include ../slides/slide-5.pug
        include ../slides/slide-6.pug
        include ../slides/slide-7.pug
        include ../slides/slide-8.pug
        include ../slides/slide-9.pug
        include ../slides/slide-10.pug
        include ../slides/slide-11.pug
        include ../slides/slide-12.pug
        include ../slides/slide-13.pug
        include ../slides/slide-14.pug
        include ../slides/slide-15.pug
        include ../slides/slide-16.pug
        include ../slides/slide-17.pug
    include inc/scripts
