/*
* Css file to create the generic presentation
*/
@import "vendor/reveal"

/*
* In src/styl/highlight-themes have more awesome highlight-themes !!
*/
@import "highlight-themes/atelier-forest-dark"

.red
  color red

.blue
  color blue

.small-size
  width: 60%

.text-left
  text-align: left
